@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&family=Oswald:wght@300;400;600&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.header {
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("./assets/dane-deaner_darkened.png");
  background-blend-mode: darken;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
@supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
  .header {
    -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0% 0%, 100% 0, 100% 90%, 50% 100%, 0 90%);
    height: 95vh;
  }
}

.header-nav {
  width: 140px;
  position: absolute;
  background-color: rgba(3, 2, 2, 0.65);
  top: 0;
  left: 1010px;
}

ul.menu {
  padding-top: 50px;
  padding-bottom: 50px;
}

.menu-item {
  color: white;
  font-family: "Oswald", sans-serif;
  font-size: 2em;
  line-height: 2.5em;
  text-align: center;
}

.menu-item a {
  text-decoration: none;
  color: white;
}
.menu-item a:hover {
  color: #F65D5D;
}

.promo {
  position: absolute;
  top: 60%;
  left: 45%;
  color: white;
  text-align: right;
}
.promo .name {
  font-family: "Oswald", sans-serif;
  font-size: 4em;
}
.promo .title {
  font-size: 2em;
}

.chapter-header {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
}

.chapter-text {
  font-size: 1.2em;
  padding-top: 15px;
}

.highlight {
  color: #F65D5D;
  font-weight: 600;
}

.roles {
  margin-top: 50px;
}

.roles-item {
  width: 95%;
  margin: 15px auto;
  padding: 10px;
  text-align: right;
}
.roles-item.odd {
  background-color: rgba(3, 2, 2, 0.45);
  text-align: left;
}
.roles-item.odd .highlight {
  color: black;
}

.contact-text {
  margin: 50px 0;
}

.contact-form {
  margin: 0 auto;
  width: 600px;
}

.feedback-input {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 1.25em;
  line-height: 2.5em;
  background-color: rgba(3, 2, 2, 0.45);
  border: none;
  transition: all 0.3s;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  border: 2px solid white;
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
}

[type=submit] {
  font-family: "Oswald", sans-serif;
  width: 100%;
  background: #F65D5D;
  border: 0;
  cursor: pointer;
  color: white;
  font-size: 24px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: all 0.3s;
  margin-top: -4px;
}

[type=submit]:hover {
  background: #CC4949;
}

.copyright {
  margin-top: 50px;
  text-align: center;
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 14px;
  }

  .wrapper {
    width: 100%;
  }

  .header {
    background-size: cover;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.6)), url("./assets/dane-deaner_darkened_small.png");
    background-blend-mode: darken;
  }
  @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
    .header {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
      height: 650px;
      background-position: 35% top;
      background-size: 155%;
    }
  }
  .header .promo {
    position: absolute;
    top: 65%;
    left: 3%;
    color: white;
    text-align: right;
  }
  .header .promo .name {
    font-family: "Oswald", sans-serif;
    font-size: 3em;
  }
  .header .promo .title {
    font-size: 1.3em;
  }
  .header .header-nav {
    width: 375px;
    position: absolute;
    background-color: rgba(3, 2, 2, 0.65);
    top: 0;
    left: 0;
  }
  .header ul.menu {
    padding: 0;
  }
  .header .menu-item {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    text-align: center;
    font-weight: lighter;
  }
  .header .menu-item a {
    text-decoration: none;
    color: white;
  }
  .header .menu-item a:hover {
    color: #F65D5D;
  }

  .chapter-header {
    font-size: 2em;
    padding: 0 5px;
  }

  .chapter-text {
    font-size: 1em;
    padding: 0 5px;
    padding-top: 15px;
  }

  .contact-text {
    padding: 0 5px;
  }

  .contact-form {
    padding: 0 5px;
    width: 100%;
  }
}

/*# sourceMappingURL=styles.css.map */
